.main{
    /* background-color: rgba(0, 0, 0, 0.486); */
    margin-top: 20px;
    /* border: 2px solid   black; */
    /* border-radius: 25px; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.one{
    display:flex;
    flex-direction: column;
}

.two{
    display:flex;
    flex-direction: column;
}

.three{
    display:flex;
    flex-direction: column;
}
button{
    color: white;
    margin-top: 15px;
    outline: none;
    border: 2px solid rgb(42, 42, 153);
    height: 30px;
    border-radius: 10px;
    background: rgb(13,2,100);
    background: linear-gradient(90deg, rgba(13,2,100,0.7679665616246498) 0%, rgba(44,66,215,0.7735688025210083) 100%);
    height: 30px;
    padding-left:8px;
    padding-right:8px;

}

label{
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Aref Ruqaa';
}

input{
    padding-left:8px;
    padding-right:8px;
    /* padding-top:2px; */
    /* padding-bottom:2px; */
    height: 30px;
    margin-top: 5px;
    outline: none;
    border:none;
    border-radius: 10px;
    /* border-bottom: 2px solid black; */
    /* background-color:rgba(0, 0, 0, 0.589); */
    color: black;
}

/* input:hover     {
    background-color: rgba(255, 255, 255, 0.835) ;
    color: black;
} */

.trueCondition{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 82%;
    /* background-color: rgba(0, 0, 0, 0.486); */
    /*
    justify-content: center; */

}