body{
    background-image: url(./background.png);
    background-repeat: repeat;
    /* background-attachment: fixed; */
    background-size: cover; 
    background-color: rgb(247, 226, 160);
    
} 