.mainSteps{
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);    
    padding-top: 30px;
    padding-left: 30px;
    text-align: justify;
    /* background-color: rgba(0, 0, 0, 0.486); */
    font-family: 'Alef';
    font-style: italic;
    /* margin:2px; */
}
h3{
    margin-left: 20px;
}
li{
    margin-right: 20px;
}