/* .App > p{
    text-align: center;
    color: rgb(21, 46, 156);
    color: white;
    background-color: rgba(0, 0, 0, 0.486);
} */

*{
    margin: 0;
    padding: 0;
    
}

.video{
    position: fixed;
    z-index: -100;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#videopart{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* position: fixed; */
    /* background-size: cover; */
    /* right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%; */
}

.other{
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.45);
}