 .mainDeveloper{
    display: flex;
    justify-content: flex-end;
    margin: 0px 20px;
    color: white;
    font-size: small;
 }
 a{
     color: rgb(247, 226, 160);
     /* text-decoration: none;   */
 }