 .mainDeveloper{
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    color: white;
    font-size: small;
 }
 a{
     color: rgb(247, 226, 160);
     /* text-decoration: none;   */
 }